# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sdf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*/Debug/*
Debug/*
ChatProgram/Log/*.txt
ChatProgram/Log.txt
*.log
*.tlog
*.ilk
*.pdb
ChatProgram/main.cpp
